<% provide(:title, 'About') %>
<h1>About Us</h1>
<p>
  We offer test driven development of Ruby on Rails web and mobile applications.
  What does this mean for you? You get applications built around what you need that just work.
  No bugs or hiccups. Each element of your application is undergoing constant tests for validity
  during the development process.

</p>
<p>
  <strong>Test Driven Development = Peace of Mind</strong>
</p>